/* .flex-container{
    border: 2px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 10px; 
    justify-content: center;
    height: 400px;
}

.flex-item{
    border: 2px solid orange;
    background-color: blue;
    padding: 50px;
    color: white;
}

.item3{
    background-color: orange;
    align-self: flex-start;
}
justify-content: main;

    {
        align-items
        align-content
        align-self

        :cross axis
    } */

/* .grid-container{
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 200px 100px;
}
.grid-item{
    background-color: tomato;
    margin: 1px;
    padding: 20px;
} */

.container{
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 20px solid red;
    box-sizing: border-box;
    margin: 20px;
}