*{
    color: red;
}

/* class selector - 10 */
.para{
    color: pink;
}
/* psedu-class selector - 10 */
:hover{
    color: aqua!important;
}

/* attribute selctor - 10 */
a[href="#"]{
    color: red;
}

/* tag selector - 1 */
p{
    color: blue;
}

/* pseudo-element selector - 1 */
p::first-line{
    color: green;
}

#para-id::first-line{
    color: red;
}

/* id selector - 100 */
#para-id{
    color: blueviolet;
}
